
    /* CSS for card_loc class */
.card_loc {
    width: 120%; /* Adjust width as needed */
    margin: 0 auto; /* Centers the card on the page */
    padding: 0px; /* Optional: Adds some padding */
    margin-top:100px;
    border-radius: 25px;
    border-style:groove;

}
.card_head{
    padding: 50px;
}

.input-gap {
    margin-bottom: 25px;
   
}

